{
	"name": "Python 3",
	"image": "mcr.microsoft.com/devcontainers/python:2-{{ python_version }}-bookworm",
	"features": {
		"ghcr.io/devcontainers/features/git:1": {}
	},
	"postCreateCommand": "./.devcontainer/startup.sh",
	"customizations": {
		"vscode": {
			"extensions": [
				"ms-python.python",
				"ms-python.vscode-pylance",
				"charliermarsh.ruff",
				"formulahendry.auto-rename-tag",
				"aaron-bond.better-comments",
				"njpwerner.autodocstring",
				"streetsidesoftware.code-spell-checker",
				"fill-labs.dependi",
				"tamasfe.even-better-toml",
				"DavidAnson.vscode-markdownlint",
				"ms-python.debugpy",
				"ms-vscode.test-adapter-converter",
				"hbenl.vscode-test-explorer",
				"redhat.vscode-yaml",
				"ms-python.mypy-type-checker",
				"MermaidChart.vscode-mermaid-chart"
			]
		}
	}
}
