{
    "git.autorefresh": true,
    "git.autofetch": true,
    "editor.codeActionsOnSave": {
        "source.fixAll": "always",
        "source.organizeImports": "always"
    },
    "editor.formatOnSave": true,
    "editor.formatOnPaste": true,
    "[python]": {
        "editor.defaultFormatter": "charliermarsh.ruff"
    },
    "python.defaultInterpreterPath": "${workspaceFolder}/.venv",
    "python.testing.pytestEnabled": true,
    "python.testing.pytestArgs": [
        "tests"
    ],
    "python.testing.unittestEnabled": false,
    "scm.defaultViewMode": "tree",
    "ruff.importStrategy": "fromEnvironment"{% if type_checker == 'mypy' %},
    "mypy-type-checker.importStrategy": "fromEnvironment"{% endif %}
}
